@page "/counter"
@using DigitalMobileApp.Components.Pages.NotesView;
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<NotesPage></NotesPage>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
