@page "/counter"
@inject DatabaseServices _context
<h1>List Of Notes</h1>
<div class="responsive">
    <div>@message</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.N</th>
                <th>Title</th>
                <th>Description</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in listNotes)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <a class="btn btn-primary py-2">Edit</a>
                        <a class="btn btn-danger py-2" @onclick="()=>DeleteData(item.Id)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    List<Notes> listNotes = new List<Notes>();
    int id;
    string message = "";
    protected override async Task OnInitializedAsync()
    {
        listNotes = await _context.GetNoteList();        

    }
    public async Task DeleteData(int id)
    {
        var note = listNotes.Where(x => x.Id == id).First();
        _context.DeleteNotes(note);
        
        message = "deleted";
        StateHasChanged();
        listNotes =await _context.GetNoteList();

    }
}
